.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 0px 0 0px;
  font-size: 15px;
  background-color: transparent;
  border-color: transparent;
  color: black;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: black;
    color: white;
    border: 1px solid transparent;
    transition: 0.5s;
  }

  &:not(:hover){
    background-color: transparent;
    color: black; 
    border: 1px solid transparent;
    transition: 0.5s;
  }
}

