.slider-container{
    justify-content: center;
    text-align: center;
    margin: 0 10px 150px 10px;
    height: 45vw;
    overflow: hidden;
}

.projects-container{
    display: flex;
    width: 100%;
    height: 100%;
}

.projects {
    text-align: center;
}

.slick-slider .slick-slide{
    display: none;
}

.slick-slider .slick-slide:first-child{
    display: block;
}

.slick-initialized.slick-slider .slick.slide,
.slick-initialized.slick-slider .slick.slide:first-child{
    display: block;
}

.slick-list {
    margin: 0 -5px;
}

.carousel-img{
    margin: 0 auto;
    height: 60%;
    width: 60%;
}

.legend{
    font-size: 14px;
    margin: 0 auto;
}

.carousel-button{
    border-radius: 12px;
    height: 90px;
    background-color: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(47,70,140,1) 34%, rgba(47,70,140,1) 69%, rgba(0,0,0,1) 98%);
    cursor: default;
}


@media screen and (max-width: 768px){
    .carousel-img{
        padding: 0 auto;
        height: 80%;
        width: 80%;
    }

    .slick-slide {
        margin: 0;
    }

    .legend{
        font-size: 12px;
    }

    .carousel-button{
        height: 120px;
    }
}

@media screen and (max-width: 1025px){
    .slider-container{
        height: 90vw;
    }
}