.contact-container {
    height: 80vh;
    font-size: 16px;
    width: 100%;
}

.contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.contact-text {
    font-size: 20px;    
}

.contact-container-info{
    display: flex;
}

.contact-left{
    flex: 2;
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 30px;
    
    
    
}

.contact-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    
}

form{
    margin-top: 16px;

}

input{
    width: 90%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    background-color: transparent;
}

textarea{
    width: 90%;
    font-size: 14px;
    background-color: transparent;
}


button{
    border: none;
    padding: 15px;
    background-color: #59a69d;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

input:focus{
    background-color: white;
}

textarea:focus{
    background-color: white;
}


.contact-copyright{
    margin-top: 100px;
    text-align: center;
    margin-left: 25px;
}

@media screen and (max-width: 800px) {
    .contact-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 150vh;
    }

    .contact-container-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-form{
        width: 70%;
    }

    .contact-copyright{
        margin-top: 200px;
    }

}