.contact-container {
    font-size: 16px;
    margin-top: 100px;    
}

.contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.contact-text {
    font-size: 20px;    
}

.contact-form-title{
    font-size: 25px;
}

.contact-container-info{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.contact-left{
    flex: 2;
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 30px;
    width: 60%;
}

.contact-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    
}

form{
    margin-top: 16px;

}

input{
    width: 90%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    background-color: transparent;
}

textarea{
    width: 90%;
    font-size: 14px;
    background-color: transparent;
}


button{
    border: none;
    padding: 15px;
    background-color: #59a69d;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition-duration: 4s;
}

button::after{
    background: white;
    display: block;
    position: absolute;
    padding-top: 300%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 4s;
}

button.active::after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

input:focus{
    background-color: white;
}

textarea:focus{
    background-color: white;
}

.contact-alert{
    text-align: center;
    color: red;
}

.contact-thanks{
    text-align: center;
    color: lightseagreen;
}

@media screen and (max-width: 800px) {
    .contact-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .contact-container-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-form{
        width: 100%;
    }
    
    .contact-left{
        width: 80%;
        margin: 0 auto;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-right{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    input{
        width: 100%;
        padding: 0;
    }

    button{
        margin-top: 10px ;
    }
}

.lds-dual-ring {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.lds-dual-ring:after {
    content: " ";
    display: flex;
    width: 24px;
    height: 24px;
    /* margin: 8px; */
    justify-items: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid black;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  