.contact-container {
    height: 130vh;
}

.contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-text {
    font-size: 20px;
}

.contact-container-info{
    padding: 50px;
    display: flex;
}

.contact-left{
    flex: 2;
}

.contact-right {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    margin-top: 20px;

}

input{
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    background-color: transparent;
}

textarea{
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    background-color: transparent;
    resize: none;
}


button{
    border: none;
    padding: 15px;
    background-color: #59a69d;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

input:focus{
    background-color: transparent;
    transition: 0.3s ease-in;
}

input:focus + .contact-container{
    height: 120vh;
}

textarea:focus{
    background-color: transparent;
    transition: 0.3s ease-in;
}

@media (max-width:650px) {
    .contact-container-info{
        display: flex;
        flex-direction: column;
    }
}