.i{
    display: flex;
    height: 80vh;
    margin-bottom: 150px;
}

.i-left {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-top: 0;
    
}

.i-right {
    flex: 2;
    position: relative;
    
}

.i-left-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.i-intro {
    font-size: 30px;
}

.i-name {
    font-size: 60px;
}

.i-title {
    height: 60px;
    overflow: hidden;
}

.i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
    
}

.i-title-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color:lightcoral;
    display: flex;
    align-items: center;
}

.i-bg {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50px;
    right: 5%;
}

.i-image {
    width: 100%;
    height: 100%;
    object-fit:cover;
    position: absolute;
    
}



@media (max-width: 1320px) {
    .i-left {
        display: flex;
        flex: 2;
        height: 100%;
    }

    .i-right{
        display: flex;
        flex: 2;
        left: 0;
        
    }

    .i-title-item{
        font-size: 24px;
    }

    .i-image{
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .i-bg{
        width: 100%;
        height: 100%;
        right: 0;
    }
}

@media (max-width: 950px){
    .i{
        display: flex;
        flex-direction: column;
    }

    .i-left {
        flex: 2;
        height: 100%;
        margin-right: 25px;
    }

    .i-right{
        display: none;
    }
}