.techs-container{
    height: 55vh;
    display: block;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.techs {
    display: flex;
    justify-content: center;
}

.techs-img {
    display: flex;
    justify-content: center;

}

.tech-img {
    top: 35px;
    width: 15%;
    height: 20%;
    gap: 25px;
    margin-bottom: 25vh;
}


@media (max-width: 1200px){
    .tech-img{
        width: 25%;
    }
}

