.techs-container{
    display: block;
    font-size: 20px;
    margin: 100px 0 0;
    width: 100%;
}

.techs {
    display: flex;
    justify-content: center;
}

.techs-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    margin: 0 auto;
    padding: 10px;
    gap: 30px;

}

.tech-img:hover{
    transform: translate(0, -10px);
    box-shadow: -1px 10px 5px -6px rgba(75,172,199,0.75);
    -webkit-box-shadow: -1px 10px 5px -6px rgba(75,172,199,0.75);
    -moz-box-shadow: -1px 10px 5px -6px rgba(75,172,199,0.75);
}


.tech-img {
    margin: 0 auto;
    width: 50%;
    height: 100%;
    transition: all .3s ease-in-out;
    
}



@media (max-width: 800px){
    .techs-img{
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .techs-container {
        height: 155vw;
        justify-content: space-around;
        align-items: center;
    }
    .tech-img {
        width: 100%;
        height: 100%;
        
    }
}

