.techs-container{
    display: block;
    font-size: 20px;
    margin: 100px 0 0;
    width: 100%;
}

.techs {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.techs-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    

}

.tech-img:hover{
    transform: scale(1.2);
}

.tech-img {
    top: 15px;
    width: 80%;
    height: 70%;
    transition: all .3s ease-in-out;
    
}


@media (max-width: 1200px){
    .tech-img{
        width: 65%;
        justify-content: center;
        align-items: center;
    }
    .techs-container{
        height: 120vh;
    }

}

@media (max-width: 800px){
    .techs-img{
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .techs-container {
        height: 155vw;
        justify-content: space-around;
        align-items: center;
    }
    .tech-img {
        width: 50%;
        height: 100%;
        
    }
}

